/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 7rem 0 6rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: var(--ifm-background-surface-color);
  border-bottom: 1px solid var(--border-color);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.buttons a {
  min-width: 180px;
  font-size: 1rem;
}
